.idea/*
*/__pycache__/*
logs/
data/news.pkl
data/ag_*
data/Amazon-reviews/*
data/Amazon_*
data/Hate_*
data/clickbait-*
data/clickbait/*
data/yahoo/*
data/yahoo-*
data/IMDB_*
data/glove*
data/cifar-10-batches-py/*
playground/*.pk
playground/.vector_cache/*
output.txt